@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.ttf");
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.ttf");
}
