.homeContainer {
  @include flex(column);

  h1 {
    margin-top: 13rem;
    font-size: 4.6rem;
    font-family: HelveticaNeue-Light, sans-serif;
    font-weight: unset;
    @include media-query-768(){
      font-size: 3.5rem;
    }
    @include media-query-480(){
      font-size: 3rem;
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.3rem;
        right: 0;
        margin: auto;
        background: $dark-text;
        height: 0.3rem;
        @include media-query-768(){
          bottom: 0.2rem;
        }
        @include media-query-480(){
          bottom: 0rem;
        }
      }
    }
  }

  section {
    margin-top: 10rem;
    font-family: HelveticaNeue-Light, sans-serif;

    p:first-child {
      font-size: 1.8rem;
    }

    p:nth-child(2) {
      font-size: 4.6rem;
      width: 90%;
      line-height: 6rem;
      @include media-query-768(){
        font-size: 3.5rem;
        line-height: 4rem;
        width: 100%;
      }
      @include media-query-480(){
        font-size: 3rem;
      }
    }
  }

  .products {
    @include flex(row wrap);
    margin: 10rem 0;
    justify-content: space-between;

    .product {
      @include flex(column);
      width: 19rem;
      @include media-query-1024() {
        width: 30rem;
      }
      @include media-query-768(){
        width: 100%;
      }
      margin-right: 2rem;
      margin-bottom: 10rem;
      text-decoration: none;


      img {
        width: 19rem;
        height: 19rem;
        @include media-query-1024() {
          width: 16rem;
          height: 16rem;
        }
        @include media-query-768() {
          width: 12rem;
          height: 12rem;
        }
        @include media-query-480() {
          width: 10.6rem;
          height: 10.6rem;
        }
      }

      .title {
        font-size: 1.6rem;
        font-family: HelveticaNeue-Light, sans-serif;
        margin-top: 5rem;
        color: $dark-text;
        padding: 0 1rem;
      }

      .description1 {
        font-size: 2rem;
        font-family: HelveticaNeue-Medium, sans-serif;
        color: $dark-text;
        padding: 0 1rem;
      }

      .description2 {
        font-size: 1.6rem;
        font-family: HelveticaNeue-Light, sans-serif;
        color: $dark-text;
        margin-top: 1.5rem;
        padding: 0 1rem;
      }
    }

  }
}
