* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none!important;
}
html {
  font-size: 10px;
}

html, body {
  overflow-x: hidden !important;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

@import "_bootstrap-overrides";
@import "__fonts";
@import "__mixins";
@import "__variables";
@import "pages/_nav";
@import "pages/_home";
@import "pages/_thesis";


#mainHeader {
  margin-top: 13rem;
  font-size: 4.6rem;
  font-family: HelveticaNeue-Light, sans-serif;
  font-weight: unset;
  @include media-query-768(){
    font-size: 3.5rem;
  }
  @include media-query-480(){
    font-size: 3rem;
  }

  span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0.3rem;
      right: 0;
      margin: auto;
      background: $dark-text;
      height: 0.3rem;
      @include media-query-768(){
        bottom: 0;
      }
    }
  }
}

