
@mixin flex($direction){
  display: flex;
  flex-flow: $direction;
}

@mixin flex-center($direction){
  display: flex;
  flex-flow: $direction;
  justify-content: center;
  align-items: center;
}

@mixin media-query-768(){
  @media only screen and (max-width: 768px){
    @content;
  }
}

@mixin media-query-480(){
  @media only screen and (max-width: 480px){
    @content;
  }
}
@mixin media-query-min-481(){
  @media only screen and (min-width: 481px){
    @content;
  }
}
@mixin media-query-1024(){
  @media only screen and (max-width: 1024px){
    @content;
  }
}
