
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none!important;
  }

  h1 {
    a {
      color: $purple;
      font-family: bitter;
    }

  }
}
