@import "bootstrap-overrides";
@import "fonts";
@import "mixins";
@import "variables";
@import "header";

html{
  font-size: 10px;
}
body{
  overflow-x:hidden;
}
*{
  margin: 0;
  padding: 0;
}
