.thesisContainer {

  &__motoContainer {
    @include flex(row wrap);
    margin-top: 10rem;
    justify-content: space-between;
    max-width: 90%;
    @include media-query-1024() {
      max-width: 100%;
    }

    &__motoWrapper {
      @include flex-center(column);
      margin-bottom: 5rem;
      @include media-query-1024() {
        flex-basis: 50%;
      }
      @include media-query-480() {
        flex-basis: 100%;
        justify-content: flex-start;
        flex-direction: row;
      }

      img {
        width: 14rem;
        height: 14rem;
        @include media-query-1024() {
          width: 16.1rem;
          height: 16.1rem;
        }
        @include media-query-768() {
          width: 12.1rem;
          height: 12.1rem;
        }
        @include media-query-480() {
          margin-right: 2rem;
        }
      }

      p {
        font-size: 2rem;
        font-family: HelveticaNeue-Medium, sans-serif;
        color: $dark-text;
        margin-top: 1rem;
      }
    }
  }

  &__helpContainer {
    @include flex(row);
    justify-content: space-around;
    margin-top: 10rem;
    @include media-query-768() {
      flex-direction: column;
    }

    &__helpText {
      @include flex(row);
      justify-content: flex-start;
      flex-basis: 40%;
      @include media-query-1024() {
        flex-basis: 35%;
      }
      @include media-query-768() {
        flex-basis: 100%;
      }

      h3 {
        font-size: 3rem;
        font-family: HelveticaNeue-Light, sans-serif;
        max-width: 60%;
        margin: 2rem 0;
        @include media-query-1024() {
          max-width: 53%;
        }
        @include media-query-768() {
          max-width: 100%;
        }
      }
    }

    &__expansionContainer {
      @include flex(column);
      justify-content: space-between;
      flex-basis: 60%;
      @include media-query-1024() {
        flex-basis: 65%;
      }

      &__expansion {
        &__title {
          font-size: 2rem;
          font-family: HelveticaNeue-Light, sans-serif;
          @include flex(row);
          justify-content: flex-start;
          position: relative;
          cursor: pointer;

          p {
            margin: 3rem 0;
            font-size: 2rem;
          }

          &::before {
            content: '';
            height: 0.1rem;
            width: 100%;
            background: $horizontal_line_baackground;
            position: absolute;
            top: 0;
          }

          svg {
            margin-top: 3rem;
          }
        }

        &__body {
          font-size: 1.6rem;
        }
      }

    }
  }

  #middle-header {
    font-size: 3rem;
    font-family: HelveticaNeue-Light, sans-serif;
    margin: 10rem 0;
  }

  &__productContainer {
    @include flex(column);

    &__productWrapper {
      @include flex(row wrap);
      width: 100%;
      margin-bottom: 10rem;

      &__img {
        flex-basis: 50%;
        height: 24rem;
        width: 47.4rem;
        @include media-query-1024() {
          flex-basis: 55%;
        }
        @include media-query-768() {
          flex-basis: 100%;
          width: 100%;
        }
      }

      &__info {
        flex-basis: 50%;
        @include flex(column);
        font-size: 2rem;
        font-family: HelveticaNeue-Light, sans-serif;
        color: $dark-text;
        padding-left: 5rem;
        @include media-query-1024() {
          flex-basis: 45%;
          padding-left: 7rem;
        }
        @include media-query-768() {
          flex-basis: 100%;
          padding-left: 0;
          padding-top: 2rem;
        }

        h4 {
          font-size: 2rem;
          font-family: HelveticaNeue-Medium, sans-serif;
          margin-bottom: 2rem;
        }

        p {
          margin-bottom: 2rem;
          width: 96%;
          @include media-query-1024() {
            width: 70%;
            margin-bottom: 1.6rem;
          }
          @include media-query-768() {
            width: 100%;
          }
        }

        a {
          color: $dark-text;
          width: 11.1rem;
          //border-bottom: 0.1rem solid black;
          position: relative;

          &::after {
            content: '';
            height: 1px;
            background: $dark-text;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.3rem;
          }
        }
      }
    }
  }

  &__howItWorksContainer {
    @include flex(row wrap);
    margin-bottom: 10rem;

    &__contactUs {
      flex-basis: 50%;
      @include media-query-1024() {
        flex-basis: 35%;
      }
      @include media-query-768() {
        flex-basis: 100%;
      }

      h4 {
        font-size: 3rem;
        font-family: HelveticaNeue-Light, sans-serif;
        margin-bottom: 5rem;
      }

      p {
        font-size: 1.8rem;
        text-decoration: underline;
        margin-bottom: 5rem;
        @include media-query-768() {
          font-size: 1.6rem;
        }
      }
    }

    &__howItWorks {
      flex-basis: 50%;
      padding-left: 10rem;
      @include media-query-1024() {
        flex-basis: 65%;
      }
      @include media-query-768() {
        flex-basis: 100%;
        padding-left: 0;
      }

      p {
        font-size: 2rem;
        margin-bottom: 2rem;
        @include media-query-1024() {
          width: 80%;
        }
        @include media-query-768(){
          width: 100%;
        }
      }
    }
  }
}
