
.homeContainer {
  @include flex(column);

  section {
    margin-top: 10rem;
    font-family: HelveticaNeue-Light, sans-serif;

    p:first-child {
      font-size: 1.8rem;
    }

    p:nth-child(2) {
      font-size: 4.6rem;
      width: 90%;
      line-height: 6rem;
      @include media-query-768(){
        font-size: 3.5rem;
        line-height: 4rem;
        width: 100%;
      }
      @include media-query-480(){
        font-size: 3rem;
      }
    }
  }

  &__products {
    @include flex(row wrap);
    margin: 10rem 0;
    justify-content: space-between;

    &__product {
      @include flex(column);
      width: 19rem;
      @include media-query-1024() {
        width: 30rem;
      }
      @include media-query-768(){
        width: 100%;
      }
      margin-right: 2rem;
      margin-bottom: 10rem;

      img {
        width: 19rem;
        height: 19rem;
        @include media-query-1024() {
          width: 16rem;
          height: 16rem;
        }
        @include media-query-768() {
          width: 12rem;
          height: 12rem;
        }
        @include media-query-480() {
          width: 10.6rem;
          height: 10.6rem;
        }
      }

      &__title {
        font-size: 1.6rem;
        font-family: HelveticaNeue-Light, sans-serif;
        margin-top: 5rem;
        color: $dark-text;
        padding: 0 1rem;
        text-decoration: none;
      }

      &__description1 {
        font-size: 2rem;
        font-family: HelveticaNeue-Medium, sans-serif;
        color: $dark-text;
        padding: 0 1rem;
      }

      &__description2 {
        font-size: 1.6rem;
        font-family: HelveticaNeue-Light, sans-serif;
        color: $dark-text;
        margin-top: 1.5rem;
        padding: 0 1rem;
      }
    }

  }
}
