<!DOCTYPE html>
<html lang="en">
<header>
    <h1><a href="/">GRENZSPRUNG</a></h1>
    <seciton class="d-none d-md-block nav-links">
        <a href="">Thesis</a>
        <a href="">Zur Garage</a>
        <a href="">Blog</a>
        <button class="menu-trigger">more +</button>
    </seciton>
    <div class="menu-icon-trigger d-block d-md-none">
        <svg class="bi bi-list" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                  clip-rule="evenodd"/>
        </svg>
    </div>
    <div class="menu">
        <div class="container">
            <div class="menu-nav">
                <h1><a href="/">GRENZSPRUNG</a></h1>
                <div id="menu-trigger-close">
                    <span class="d-none d-md-block">close</span>
                    <span class="closeX">x</span>
                </div>
            </div>


            <ul>
                <li><a href="">Lorem</a></li>
                <li><a href="">Lorem</a></li>
                <li><a href="">Lorem</a></li>
            </ul>

            <ul id="nav-list">
                <li><a href="">Themen</a></li>
                <li><a href="">zur Garage</a></li>
                <li><a href="">Kontakt</a></li>
            </ul>
        </div>
    </div>
</header>

</html>
